[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
chatterbot = "*"
chatterbot-corpus = "*"
psycopg2 = "*"
praw = "*"

[requires]
python_version = "3.6"
